html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



.conf-menu .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
}

.conf-menu .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
}

.table tbody>tr>td.vert-align-mid {
    vertical-align: middle;
}